*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  background: #f5f5ff;
}
header{
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  background: #1976d2;
  height: 60px;
}
header>nav>ul.tab{
  border: 0;
}
header>nav{
  width: 500px;
  margin: 0;
  padding: 0;
}

.toggle-menu{
  border-right: 1px solid #ccc;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 27px;
  cursor: pointer;
}
.toggle-menu:hover{
  background-color: rgba(45, 162, 60, 0.2);
}
.page-area-parent{
  display: flex;
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
}

.margin-hidden{
  margin-left: -180px;
}
.menu{
  transition: margin .3s;
}
.page-area{
  padding: 10px;
}


header a{
  color: #fff!important;
  text-transform: uppercase;
}
.tab .tab-item a.active, .tab .tab-item.active a {
  border-bottom-color: #fdfdfd;
}

header > nav > ul > li > img{
  height: 40px;
  margin-top: 2px;
}

.tab.tab-block .tab-item a {
  padding-bottom: 15px;
  padding-top: 15px;
}
